<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Radyr Garage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
    </head>

    <body>
    <div class="content container">
        <div class="col-md-8">
            <a href=# >Log-in<span class ="glyphicon glyphicon-lock"></span></a>
        </div>

    </div>
    </body>